{% set title = 'about' %}
{% extends '_layout.html' %}

{% block content %}

<!-- Banner Starts -->
<section class="banner">
  <div class="content text-center">
    <div class="text-center top-text">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1>About Us</h1>
      </div>
      <!-- Main Heading Ends -->
      <hr>
      <!-- Breadcrumb Starts -->
      <ul class="breadcrumb">
        <li><a href="index-kenburns.html"> home</a></li>
        <li>About us</li>
      </ul>
      <!-- Breadcrumb Ends -->
    </div>
  </div>
</section>
<!-- Banner Ends -->
<!-- About Section Starts -->
<section class="about">
  <!-- Container Starts -->
  <div class="container">
    <!-- About Content Starts -->
    <div class="row about-content">
      <div class="col-sm-12 col-md-6 col-lg-6 about-left-side">
        <h3 class="title-about">WE ARE <strong>LEGION</strong></h3>
        <hr>
        <p>We are a leading company sit amet, consectetur adipisicing elit. Minus obcaecati pariatur officiis molestias
          eveniet harum laudantium obcaecati pariatur officiis molestias eveniet harum laudantium sed optio iste.</p>
        <!-- Tabs Heading Starts -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu1">Our Mission</a></li>
          <li><a data-toggle="tab" href="#menu2">Our advantages</a></li>
          <li><a data-toggle="tab" href="#menu3">Our guarantees</a></li>
        </ul>
        <!-- Tabs Heading Ends -->
        <!-- Tabs Content Starts -->
        <div class="tab-content">
          <div id="menu1" class="tab-pane fade in active">
            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.</p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia</p>
          </div>
        </div>
        <!-- Tabs Content Ends -->
        <a class="custom-button btn-left" href="portfolio.html">CONTACT US</a>
      </div>
      <!-- Image About Us Starts -->
      <div class="col-md-6 col-lg-6 about-right-side">
        <div>
          <img class="img-responsive" src="http://via.placeholder.com/1024x681" alt="">
        </div>
      </div>
      <!-- Image About Us Ends -->
    </div>
    <!-- About Content Ends -->
  </div>
  <!-- Container Ends -->
</section>
<!-- About Section Ends -->

<!-- Services Section Starts -->
<section class="services">
  <!-- Container Starts -->
  <div class="container">
    <!-- Main Heading Starts -->
    <div class="text-center top-text">
      <h1><span>WHY </span> SToFU?</h1>
      <h4>Here are just a few reasons why people choose Us</h4>
    </div>
    <!-- Main Heading Starts -->
    <!-- Divider Starts -->
    <div class="divider text-center">
      <span class="outer-line"></span>
      <span class="fa fa-cogs" aria-hidden="true"></span>
      <span class="outer-line"></span>
    </div>
    <!-- Divider Ends -->
    <!-- Services Starts -->
    <div class="row services-box">
      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-leaf" data-headline="98.9% Client Retention Rate"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-leaf">
          <h2>98.9% Client Retention Rate</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-anchor" data-headline="Strategic Locations Around The Globe"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-anchor">
          <h2>Strategic Locations Around The Globe</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-comments-o" data-headline="1100+ Clients Served"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-comments-o">
          <h2>1100+ Clients Served</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-support" data-headline="Highly qualified professionals"></span>
        <!-- Service Item Cover Ends -->
        <div class="services-box-item-content fa fa-support">
          <h2>Highly qualified professionals</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
        </div>
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-cogs" data-headline="10+ Years Of Experience"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-cogs">
          <h2>10+ Years Of Experience</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Full continuous support"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-file-pdf-o">
          <h2>Full continuous support</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

    </div>
    <!-- Services Ends -->
  </div>
</section>
<!-- Services Section Ends -->

<!-- Contact Form Section Starts -->
<section class="contactform">
  <div class="section-overlay">
    <div class="container">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1><span>Send Us</span> an email</h1>
        <h4>We are very responsive to messages</h4>
      </div>
      <!-- Main Heading Ends -->
      <div class="form-container">
        <!-- Contact Form Starts -->
        <form class="formcontact" method="post" action="php/process-form.php">
          <div class="row form-inputs">
            <!-- First Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="First Name" class="input-field custom-input-field" id="firstname" name="firstname"
                  type="text" required data-error="NEW ERROR MESSAGE">
                <label class="input-label custom-input-label">
                  <i class="fa fa-user icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- First Name Field Ends -->
            <!-- Last Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="Last Name" class="input-field custom-input-field" id="lastname" name="lastname"
                  type="text" required>
                <label class="input-label custom-input-label">
                  <i class="fa fa-user-o icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- Last Name Field Ends -->
            <!-- Message Field Starts -->
            <div class="form-group custom-form-group col-sm-12">
              <textarea placeholder="Message" id="message" name="message" cols="45" rows="7" required></textarea>
            </div>
            <!-- Message Field Ends -->
            <!-- Email Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="Email" class="input-field custom-input-field" id="email" name="email" type="text"
                  required>
                <label class="input-label custom-input-label">
                  <i class="fa fa-envelope icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- Email Name Field Ends -->
            <!-- Submit Button Starts -->
            <div class="col-sm-6 submit-form">
              <button id="form-submit" name="submit" type="submit" class="custom-button" title="Send">Send
                Message</button>
            </div>
            <!-- Submit Button Ends -->
            <!-- Form Submit Message Starts -->
            <div class="col-sm-12 text-center output_message_holder">
              <p class="output_message"></p>
            </div>
            <!-- Form Submit Message Ends -->
          </div>
        </form>
        <!-- Contact Form Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section Ends -->
<!-- Logos Section Starts -->
<section class="logos">
  <div class="container">
    <ul class="bxslider" id="bxslider">
      <!-- Logos Items Starts -->
      <li><img src="http://via.placeholder.com/150x29" alt="3docean"></li>
      <li><img src="http://via.placeholder.com/150x29" alt="activeden"></li>
      <li><img src="http://via.placeholder.com/150x29" alt="audiojungle"></li>
      <li><img src="http://via.placeholder.com/150x29" alt="codecanyon"></li>
      <li><img src="http://via.placeholder.com/150x29" alt="graphicriver"></li>
      <li><img src="http://via.placeholder.com/150x29" alt="photodune"></li>
      <li><img src="http://via.placeholder.com/150x29" alt="themeforest"></li>
      <!-- Logos Items Ends -->
    </ul>
  </div>
</section>
<!-- Logos Section Ends -->

{% endblock %}