{% set title = 'about' %}
{% extends '_layout.html' %}

{% set activeAboutPage = 'active' %}

{% block content %}

<!-- Banner Starts -->
<section class="banner">
  <div class="content text-center">
    <div class="text-center top-text">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1>About Us</h1>
      </div>
      <!-- Main Heading Ends -->
      <hr>
      <!-- Breadcrumb Starts -->
      <ul class="breadcrumb">
        <li><a href="index.html"> home</a></li>
        <li>About us</li>
      </ul>
      <!-- Breadcrumb Ends -->
    </div>
  </div>
</section>
<!-- Banner Ends -->
<!-- About Section Starts -->
<section class="about">
  <!-- Container Starts -->
  <div class="container">
    <!-- About Content Starts -->
    <div class="row about-content">
      <div class="col-sm-12 col-md-6 col-lg-6 about-left-side">
        <h3 class="title-about">WE ARE <strong>LEGION</strong></h3>
        <hr>
        <p>We are a leading company sit amet, consectetur adipisicing elit. Minus obcaecati pariatur officiis molestias
          eveniet harum laudantium obcaecati pariatur officiis molestias eveniet harum laudantium sed optio iste.</p>
        <!-- Tabs Heading Starts -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu1">Our Mission</a></li>
          <li><a data-toggle="tab" href="#menu2">Our advantages</a></li>
          <li><a data-toggle="tab" href="#menu3">Our guarantees</a></li>
        </ul>
        <!-- Tabs Heading Ends -->
        <!-- Tabs Content Starts -->
        <div class="tab-content">
          <div id="menu1" class="tab-pane fade in active">
            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.</p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia</p>
          </div>
        </div>
        <!-- Tabs Content Ends -->
        <a class="custom-button btn-left" href="contact.html">CONTACT US</a>
      </div>
      <!-- Image About Us Starts -->
      <div class="col-md-6 col-lg-6 about-right-side">
        <div>
          <img class="img-responsive" src="./img/projects/pic/FULLHD_aboutus_img.jpg" alt="">
        </div>
      </div>
      <!-- Image About Us Ends -->
    </div>
    <!-- About Content Ends -->
  </div>
  <!-- Container Ends -->
</section>
<!-- About Section Ends -->

<!-- Services Section Starts -->
<section class="services" id="services">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>WHY </span> SToFU?</h1>
            <h4>Here are just a few reasons why people choose Us</h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-cogs" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- Services Starts -->
        <div class="row services-box">
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-retention" data-headline="Software Engineering"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-retention">
                    <h2>Software Engineering</h2>
                    <p>We develop, customize, migrate and modernize custom apps for specific business needs such as data, workflows and infrastructure management, customer engagement, analytics, digital content, and omnichannel ecommerce.</p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-globe" data-headline="Researching and Reverse engineering"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-globe">
                    <h2>Researching and Reverse engineering</h2>
                    <p>We provide an opportunity to support the d  </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-clients" data-headline="Cyber Security Services"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-clients">
                    <h2>Cyber Security Services</h2>
                    <p>We proactively identify threats to your digital infrastructure so you can minimise damage, reduce costs and financial losses, and prevent future attacks in an ever-evolving landscape. aaa aaa aaa </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-proffessionals" data-headline="QA &amp; Testing"></span>
                <!-- Service Item Cover Ends -->
                <div class="services-box-item-content iconn-proffessionals">
                    <h2>QA &amp; Testing</h2>
                    <p>We provide both during- development and independent QA consulting and testing services. Our experts adhere to Test Early and Often approach, while applying test automation practices for human effort reduction. aaaa aaaa aaaa aaaa aaaa aaaa aaa </p>
                </div>
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-experience" data-headline="DevSecOps"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-experience">
                    <h2>DevSecOps</h2>
                    <p>We cover a full range of services related to DevOps integration, Cloud Consulting &amp; System Administration, optimized software development lifecycle, continuous delivery, automated deployment, automation software release, backups, monitoring.</p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-support" data-headline="Maintenance &amp; Support"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-support">
                    <h2>Maintenance &amp; Support</h2>
                    <p>We offer 1st, 2nd and 3rd level support services for applications developed by our company. Our team will help you with troubles of any complexity level — from providing workarounds and hot fixes to security audit and application customization and enhancement.</p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

        </div>
        <!-- Services Ends -->
    </div>
</section>
<!-- Services Section Ends -->

<!-- Contact Form Section Starts -->
<section class="contactform">
  <div class="section-overlay">
    <div class="container">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1><span>Send Us</span> an email</h1>
        <h4>We are very responsive to messages</h4>
      </div>
      <!-- Main Heading Ends -->
      <div class="form-container">
        <!-- Contact Form Starts -->
        <form class="formcontact" method="post" action="php/process-form.php">
          <div class="row form-inputs">
            <!-- First Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="First Name" class="input-field custom-input-field" id="firstname" name="firstname"
                  type="text" required data-error="NEW ERROR MESSAGE">
                <label class="input-label custom-input-label">
                  <i class="fa fa-user icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- First Name Field Ends -->
            <!-- Last Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="Last Name" class="input-field custom-input-field" id="lastname" name="lastname"
                  type="text" required>
                <label class="input-label custom-input-label">
                  <i class="fa fa-user-o icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- Last Name Field Ends -->
            <!-- Message Field Starts -->
            <div class="form-group custom-form-group col-sm-12">
              <textarea placeholder="Message" id="message" name="message" cols="45" rows="7" required></textarea>
            </div>
            <!-- Message Field Ends -->
            <!-- Email Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="Email" class="input-field custom-input-field" id="email" name="email" type="text"
                  required>
                <label class="input-label custom-input-label">
                  <i class="fa fa-envelope icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- Email Name Field Ends -->
            <!-- Submit Button Starts -->
            <div class="col-sm-6 submit-form">
              <button id="form-submit" name="submit" type="submit" class="custom-button" title="Send">Send
                Message</button>
            </div>
            <!-- Submit Button Ends -->
            <!-- Form Submit Message Starts -->
            <div class="col-sm-12 text-center output_message_holder">
              <p class="output_message"></p>
            </div>
            <!-- Form Submit Message Ends -->
          </div>
        </form>
        <!-- Contact Form Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section Ends -->
<!-- Logos Section Starts -->
<section class="logos">
  <div class="container">
    <ul class="bxslider" id="bxslider">
      <!-- Logos Items Starts -->
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_1.jpg" alt="3docean"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_2.jpg" alt="activeden"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_3.jpg" alt="audiojungle"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_4.jpg" alt="codecanyon"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_5.jpg" alt="graphicriver"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_6.jpg" alt="photodune"></li>
      <!-- Logos Items Ends -->
    </ul>
  </div>
</section>
<!-- Logos Section Ends -->

{% endblock %}