{% set title = 'blog-post' %}
{% extends '_layout.html' %}

{% set activeBlogPage = 'active' %}

{% block content %}
<!-- Banner Starts -->
<section class="banner banner-blog-post">
  <div class="content text-center">
    <div class="text-center top-text">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1>WHY CATGIRLS IS BEST?</h1>
      </div>
      <!-- Main Heading Ends -->
      <hr>
      <!-- Meta Starts -->
      <div class="meta">
        <span><i class="fa fa-user"></i> <a href="#">admin</a></span>
        <span><i class="fa fa-calendar"></i> 11 October 2017</span>
        <span><i class="fa fa-commenting"></i> <a href="blog-post.html">29 comments</a></span>
        <span><i class="fa fa-tags"></i> tag, tag, tag</span>
        <span><i class="fa fa-link"></i> <a href="blog-post.html">permalink</a></span>
      </div>
      <!-- Meta Ends -->
    </div>
  </div>
</section>
<!-- Banner Ends -->
<!-- Section Content Starts -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="content col-xs-12 col-md-8">
        <!-- Article Starts -->
        <article>
          <!-- Figure Starts -->
          <figure>
            <img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="">
          </figure>
          <!-- Figure Ends -->
          <!-- Content Starts -->
          <p class="content-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. <br><br>Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. <br><br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
          <!-- Content Ends -->
          <!-- Meta Starts -->
          <div class="meta">
            <span><i class="fa fa-user"></i> <a href="#">admin</a></span>
            <span><i class="fa fa-calendar"></i> 9 November 2017</span>
            <span><i class="fa fa-commenting"></i> <a href="blog-post.html">18 comments</a></span>
            <span><i class="fa fa-tags"></i> tag, tag, tag</span>
            <span><i class="fa fa-link"></i> <a href="blog-post.html">permalink</a></span>
          </div>
          <!-- Meta Ends -->
          <!-- Comments Starts -->
          <div class="comments">
            <div id="disqus_thread"></div>
          </div>
        </article>
        <!-- Article Ends -->
      </div>
      <!-- Sidebar Starts -->
      <div class="sidebar col-xs-12 col-md-4">
        <!-- Categories Widget Starts -->
        <div class="widget">
          <h3 class="widget-title">Categories</h3>
          <ul class="nav nav-tabs">
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
          </ul>
        </div>
        <!-- Categories Widget Ends -->
        <!-- Archives Widget Starts -->
        <div class="widget">
          <h3 class="widget-title">Archives</h3>
          <ul class="arrow nav nav-tabs">
            <li><a href="#">January 2019</a></li>
            <li><a href="#">December 2018</a></li>
            <li><a href="#">November 2018</a></li>
            <li><a href="#">October 2018</a></li>
            <li><a href="#">September 2018</a></li>
          </ul>
        </div>
        <!-- Archives Widget Ends -->
        <!-- Latest Posts Widget Ends -->
        <div class="widget recent-posts">
          <h3 class="widget-title">Recent Posts</h3>
          <ul class="unstyled clearfix">
            <!-- Recent Post Widget Starts -->
            <li>
              <div class="posts-thumb pull-left">
                <a href="blog-post.html">
                  <img alt="img" src="./img/backgrounds/bk/blog_post.jpg">
                </a>
              </div>
              <div class="post-info">
                <h4 class="entry-title">
                  <a href="blog-post.html">HOW TO CREATE
                    CATGIRLS?</a>
                </h4>
                <p class="post-meta">
                  <span class="post-date"><i class="fa fa-clock-o"></i> January 20, 2019</span>
                </p>
              </div>
              <div class="clearfix"></div>
            </li>
            <!-- Recent Post Widget Ends -->
            <!-- Recent Post Widget Starts -->
            <li>
              <div class="posts-thumb pull-left">
                <a href="blog-post-light.html">
                  <img alt="img" src="./img/backgrounds/bk/blog_post.jpg">
                </a>
              </div>
              <div class="post-info">
                <h4 class="entry-title">
                  <a href="blog-post-light.html">HOW TO CREATE
                    CATGIRLS?</a>
                </h4>
                <p class="post-meta">
                  <span class="post-date"><i class="fa fa-clock-o"></i> August 03, 2018</span>
                </p>
              </div>
              <div class="clearfix"></div>
            </li>
            <!-- Recent Post Widget Ends -->
            <!-- Recent Post Widget Starts -->
            <li>
              <div class="posts-thumb pull-left">
                <a href="blog-post-light.html">
                  <img alt="img" src="./img/backgrounds/bk/blog_post.jpg">
                </a>
              </div>
              <div class="post-info">
                <h4 class="entry-title">
                  <a href="blog-post-light.html">HOW TO CREATE
                    CATGIRLS?</a>
                </h4>
                <p class="post-meta">
                  <span class="post-date"><i class="fa fa-clock-o"></i> March 27, 2018</span>
                </p>
              </div>
              <div class="clearfix"></div>
            </li>
            <!-- Recent Post Widget Ends -->
          </ul>
        </div>
        <!-- Latest Posts Widget Ends -->
        <!-- Tags Widget Starts -->
        <div class="widget widget-tags">
          <h3 class="widget-title">Popular Tags </h3>
          <ul class="unstyled clearfix">
            <li><a href="#">agriculture</a></li>
            <li><a href="#">autos</a></li>
            <li><a href="#">drama</a></li>
            <li><a href="#">electronics</a></li>
            <li><a href="#">health</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">news</a></li>
          </ul>
        </div>
        <!-- Tags Widget Ends -->
      </div>
      <!-- Sidebar Ends -->
    </div>
  </div>
</section>

<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://stofu-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//stofu-io.disqus.com/count.js" async></script>
<!-- Section Content Ends -->
{% endblock %}