{% set title = 'careers' %}
{% extends '_layout.html' %}

{% set activeCareersPage = 'active' %}

{% block content %}
<!-- Banner Starts -->
<section class="banner careers">
  <div class="content text-center">
    <div class="text-center top-text">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1>WORK WITH US!</h1>
      </div>
      <!-- Main Heading Ends -->
      <!-- <hr> -->
      <!-- Breadcrumb Starts -->
      <ul class="breadcrumb">
        <li><a href="index.html"> home</a></li>
        <li>Careers</li>
      </ul>
      <!-- Breadcrumb Ends -->
    </div>
    <a href="about.html" class="custom-button slider-button scroll-to-target">Lern more About US</a>
  </div>
</section>
<!-- Banner Ends -->
<!-- Find-here Section Starts -->
<section class="portfolio find-here">
  <!-- Container Starts -->
  <div class="container">
    <!-- Main Heading Starts -->
    <div class="text-center top-text">
      <h2><span>Find</span> Your Opportunity Here</h2>
    </div>
    <!-- Main Heading Starts -->
      <ul class="card__list">
        <li class="card__list-item card__list-itemtitle">
          <div class="card__list-specialization">Specialization</div>
          <div class="card__list-title">Position / Title</div>
          <div class="card__list-location">Location</div>
          <div class="card__list-btn"></div>
        </li>
        <li class="card__list-item">
          <div class="card__list-specialization">Senior FrontEnd (React) Developer</div>
          <div class="card__list-title">
            <div class="workhours">Senior FrontEnd (React) Developer</span></div>
          </div>
          <div class="card__list-location">Kyiv, UA</div>
          <div class="card__list-btn">
            <a class="button" href="some_position_1.html">APPLY</a>
          </div>
          <div class="card__list-send"><a href="apply_form.html"
              style="font-size:30px"><i class="fa fa-envelope"></i></a></div>
        </li>
        <li class="card__list-item">
          <div class="card__list-specialization">Senior FrontEnd (React) Developer</div>
          <div class="card__list-title">
            <div class="workhours">Senior FrontEnd (React) Developer</span></div>
          </div>
          <div class="card__list-location">Kyiv, UA</div>
          <div class="card__list-btn">
            <a class="button" href="some_position_1.html">APPLY</a>
          </div>
          <div class="card__list-send"><a href="apply_form.html"
              style="font-size:30px"><i class="fa fa-envelope"></i></a></div>
        </li>
        <li class="card__list-item">
          <div class="card__list-specialization">Senior FrontEnd (React) Developer</div>
          <div class="card__list-title">
            <div class="workhours">Senior FrontEnd (React) Developer</span></div>
          </div>
          <div class="card__list-location">Kyiv, UA</div>
          <div class="card__list-btn">
            <a class="button" href="some_position_1.html">APPLY</a>
          </div>
          <div class="card__list-send"><a href="apply_form.html"
              style="font-size:30px"><i class="fa fa-envelope"></i></a></div>
        </li>
        <li class="card__list-item">
          <div class="card__list-specialization">Senior FrontEnd (React) Developer</div>
          <div class="card__list-title">
            <div class="workhours">Senior FrontEnd (React) Developer</span></div>
          </div>
          <div class="card__list-location">Kyiv, UA</div>
          <div class="card__list-btn">
            <a class="button" href="some_position_1.html">APPLY</a>
          </div>
          <div class="card__list-send"><a href="apply_form.html"
              style="font-size:30px"><i class="fa fa-envelope"></i></a></div>
        </li>
      </ul>
  </div>
</section>
<!-- Find-here Section Ends -->

<!-- Services Section Starts -->
<section class="services contactform services-benefits">
  <div class="section-overlay">
    <div class="container">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h2><span>SToFU</span> BENEFITS</h2>
      </div>
      <!-- Main Heading Starts -->
      <!-- Services Starts -->
      <div class="row services-box">
        <!-- Service Item Starts -->
        <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
          <!-- Service Item Cover Starts -->
          <span class="services-box-item-cover iconn-projects" data-headline="Interesting and high-tech projects"></span>
          <!-- Service Item Cover Ends -->
          <!-- Service Item Content Starts -->
          <div class="services-box-item-content iconn-projects">
            <h2>Interesting and high-tech projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
          <!-- Service Item Content Ends -->
        </div>
        <!-- Service Item Ends -->

        <!-- Service Item Starts -->
        <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
          <!-- Service Item Cover Starts -->
          <span class="services-box-item-cover iconn-friendly" data-headline="Friendly team"></span>
          <!-- Service Item Cover Ends -->
          <!-- Service Item Content Starts -->
          <div class="services-box-item-content iconn-friendly">
            <h2>Friendly team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
          <!-- Service Item Content Ends -->
        </div>
        <!-- Service Item Ends -->

        <!-- Service Item Starts -->
        <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
          <!-- Service Item Cover Starts -->
          <span class="services-box-item-cover iconn-training" data-headline="Free courses and training"></span>
          <!-- Service Item Cover Ends -->
          <!-- Service Item Content Starts -->
          <div class="services-box-item-content iconn-training">
            <h2>Free courses and training</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
          <!-- Service Item Content Ends -->
        </div>
        <!-- Service Item Ends -->

        <!-- Service Item Starts -->
        <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
          <!-- Service Item Cover Starts -->
          <span class="services-box-item-cover iconn-money" data-headline="Competitive salary"></span>
          <!-- Service Item Cover Ends -->
          <div class="services-box-item-content iconn-money">
            <h2>Competitive salary</h2>
            <p>Lorem ipsum dolorute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
        </div>
        <!-- Service Item Ends -->

        <!-- Service Item Starts -->
        <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
          <!-- Service Item Cover Starts -->
          <span class="services-box-item-cover iconn-party" data-headline="Corporate Events"></span>
          <!-- Service Item Cover Ends -->
          <!-- Service Item Content Starts -->
          <div class="services-box-item-content iconn-party">
            <h2>Corporate Events</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
          <!-- Service Item Content Ends -->
        </div>
        <!-- Service Item Ends -->

        <!-- Service Item Starts -->
        <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
          <!-- Service Item Cover Starts -->
          <span class="services-box-item-cover iconn-mentor" data-headline="Mentoring Program"></span>
          <!-- Service Item Cover Ends -->
          <!-- Service Item Content Starts -->
          <div class="services-box-item-content iconn-mentor">
            <h2>Mentoring Program</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
          <!-- Service Item Content Ends -->
        </div>
        <!-- Service Item Ends -->

      </div>
      <!-- Services Ends -->
    </div>
  </div>
</section>
<!-- Services Section Ends -->

<!-- Project Starts -->
<section class="logos life-at-stofu">
  <div class="text-center top-text">
    <h2>LIFE AT <span>SToFU</span></h2>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="./img/projects/event/corp_event_1.jpg" alt="First slide">
                        <div class="carousel-caption">
                            <h3>
                                First slide</h3>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./img/projects/event/corp_event_2.jpg" alt="Second slide">
                        <div class="carousel-caption">
                            <h3>
                                Second slide</h3>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./img/projects/event/corp_event_3.jpg" alt="Third slide">
                        <div class="carousel-caption">
                            <h3>
                                Third slide</h3>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                        href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                        </span></a>
            </div>
        </div>
    </div>
</section>
<!-- Project Ends -->

{% endblock %}