{% set title = 'Home' %}
{% extends '_layout.html' %}

{% block content %}
<!-- Main Slider Section Starts -->
<section class="mainslider" id="mainslider">
    <!-- Slider Hero Starts -->
    <div class="rev_slider_wrapper fullwidthbanner-container dark-slider" data-alias="vimeo-hero" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_kenburns" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li ata-index="rs-1" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fsmasterspeed="0" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img alt="" src="./img/backgrounds/sliders/1.jpg" data-bgposition="center center" data-kenburns="on" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="0" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS --> 

                    <div class="block-inner-slider">
                        <div class="slider-title">Think. Create. Accelerate.</div>
                        <div class="slider-description">Outpace your competitors with our digital transformation capabilities.</div>
                        <div class="">
                            <a href="contact.html" class="custom-button slider-button scroll-to-target">contact us</a>
                        </div>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fsmasterspeed="0" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img alt="" src="./img/backgrounds/sliders/2.jpg" data-bgposition="center center" data-kenburns="on" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="0" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <div class="block-inner-slider">
                        <div class="slider-title">Engineering the Future</div>
                        <div class="slider-description">Cybersecurity By Design</div>
                        <div class="">
                            <a href="contact.html" class="custom-button slider-button scroll-to-target">contact us</a>
                        </div>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fsmasterspeed="0" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img alt="" src="./img/backgrounds/sliders/3.jpg" data-bgposition="center center" data-kenburns="on" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="0" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <div class="block-inner-slider">
                        <div class="slider-title">GREAT PRODUCTS ARE BUILT BY</div>
                        <div class="slider-description">GREAT ENGINEERS</div>
                        <div class="">
                            <a href="contact.html" class="custom-button slider-button scroll-to-target">contact us</a>
                        </div>
                    </div>

                </li>
            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
    <!-- Slider Hero Ends -->
</section>
<!-- Main Slider Section Ends -->
<!-- Services Section Starts -->
<section class="services" id="services">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>Our</span> Services</h1>
            <h4>What We Doing</h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-cogs" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- Services Starts -->
        <div class="row services-box">
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-softEngin" data-headline="Software Engineering"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-softEngin">
                    <h2>Software Engineering</h2>
                    <p>We develop, customize, migrate and modernize custom apps for specific business needs such as data, workflows and infrastructure management, customer engagement, analytics, digital content, and omnichannel ecommerce.</p>
                    <a href="service_1.html" class="link-card">LEARN MORE</a>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-reverseng" data-headline="Researching and Reverse engineering"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-reverseng">
                    <h2>Researching and Reverse engineering</h2>
                    <p>We provide an opportunity to support the d  </p>
                    <a href="service_2.html" class="link-card">LEARN MORE</a>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-cyber-security" data-headline="Cyber Security Services"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-cyber-security">
                    <h2>Cyber Security Services</h2>
                    <p>We proactively identify threats to your digital infrastructure so you can minimise damage, reduce costs and financial losses, and prevent future attacks in an ever-evolving landscape. aaa aaa aaa </p>
                    <a href="service_3.html" class="link-card">LEARN MORE</a>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-qa" data-headline="QA &amp; Testing"></span>
                <!-- Service Item Cover Ends -->
                <div class="services-box-item-content iconn-qa">
                    <h2>QA &amp; Testing</h2>
                    <p>We provide both during- development and independent QA consulting and testing services. Our experts adhere to Test Early and Often approach, while applying test automation practices for human effort reduction. aaaa aaaa aaaa aaaa aaaa aaaa aaa </p>
                    <a href="service_4.html" class="link-card">LEARN MORE</a>
                </div>
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-devops" data-headline="DevSecOps"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-devops">
                    <h2>DevSecOps</h2>
                    <p>We cover a full range of services related to DevOps integration, Cloud Consulting &amp; System Administration, optimized software development lifecycle, continuous delivery, automated deployment, automation software release, backups, monitoring.</p>
                    <a href="service_5.html" class="link-card">LEARN MORE</a>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover iconn-support" data-headline="Maintenance &amp; Support"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content iconn-support">
                    <h2>Maintenance &amp; Support</h2>
                    <p>We offer 1st, 2nd and 3rd level support services for applications developed by our company. Our team will help you with troubles of any complexity level — from providing workarounds and hot fixes to security audit and application customization and enhancement.</p>
                    <a href="service_6.html" class="link-card">LEARN MORE</a>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->

        </div>
        <!-- Services Ends -->
    </div>
</section>
<!-- Services Section Ends -->
<!-- Testimonials Section Starts -->
<section class="testimonials">
    <div class="section-overlay">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Happy</span> Customers</h1>
                <h4>Testimonials</h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Blockquotes Starts -->
            <div id="quote-carousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper For Sliders Starts -->
                <!-- Indicators Starts -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class=""></li>
                    <li data-target="#quote-carousel" data-slide-to="1" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="2" class=""></li>
                    <li data-target="#quote-carousel" data-slide-to="3" class=""></li>
                </ol>
                <!-- Indicators Ends -->
                <div class="carousel-inner">
                    <!-- Quote #1 Starts -->
                    <div class="item">
                        <blockquote>
                            <img class="img-circle img-responsive logos-img-slider" src="./img/projects/pic/brand_logo_4.jpg" alt="client">
                            <p>SToFU developed for us a strategically important project thanks to which we’ve significantly reduced costs and risks that are associated with carrying out contractual work.</p>
                            <h5>Eugene Yaminsky</h5>
                            <h6>Reengineering and Internal Control Director at Integra Group</h6>
                        </blockquote>
                    </div>
                    <!-- Quote #1 Ends -->
                    <!-- Quote #2 Starts -->
                    <div class="item active">
                        <blockquote>
                            <img class="img-circle img-responsive logos-img-slider" src="./img/projects/pic/brand_logo_2.jpg" alt="client">
                            <p>We built everything from scratch super fast, and now each app is released successfully to the store with minimal manual intervention.</p>
                            <h5>Avishag Baruch</h5>
                            <h6>CTO and Vice President of R&D at Seeking Alpha</h6>
                        </blockquote>
                    </div>
                    <!-- Quote #2 Ends -->
                    <!-- Quote #3 Starts -->
                    <div class="item">
                        <blockquote>
                            <img class="img-circle img-responsive logos-img-slider" src="./img/projects/pic/brand_logo_4.jpg" alt="client">
                            <p>SToFU has been supporting us in various projects regarding different products in order to improve product safety. We welcome the flexibility of SToFU to meet our needs in a timely manner and to the desired extent.</p>
                            <h5>Harald Schoengen</h5>
                            <h6>Senior Manager at Bosch Security Systems</h6>
                        </blockquote>
                    </div>
                    <!-- Quote #3 Ends -->
                    <!-- Quote #4 Starts -->
                    <div class="item">
                        <blockquote>
                            <img class="img-circle img-responsive logos-img-slider" src="./img/projects/pic/brand_logo_1.jpg" alt="client">
                            <p>They did an excellent job and provided exactly what I was looking for. Their quotes were very accurate and their projections were very close. This was an infrastructure project and they delivered. They communicated with me very efficiently and were on the ball as my requirements changed.</p>
                            <h5>Stefan Fritsch</h5>
                        </blockquote>
                    </div>
                    <!-- Quote #4 Ends -->
                </div>
                <!-- Wrapper For Sliders Ends -->
            </div>
            <!-- Blockquotes Ends -->
        </div>
        <!-- Container Ends -->
    </div>
</section>
<!-- Testimonials Section Ends -->
<!-- Blog Section Starts -->
<section class="blog">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>Blog</span> Posts</h1>
            <h4>Latest Articles</h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-comments" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <div class="row latest-posts-content">
            <!-- Article Starts -->
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="latest-post">
                    <!-- Featured Image Starts -->
                    <a class="img-thumb" href="blog-post.html"><img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="img"></a>
                    <!-- Featured Image Ends -->
                    <!-- Article Content Starts -->
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="blog-post.html">how to be a good freelancer ?</a>
                        </h4>
                        <div class="post-text">
                            <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                        </div>
                    </div>
                    <!-- Post Date Starts -->
                    <div class="post-date">
                        <span>18</span>
                        <span>AUG</span>
                    </div>
                    <!-- Post Date Ends -->
                    <a class="custom-button" href="blog-post.html">Read more</a>
                    <!-- Article Content Ends -->
                </div>
            </div>
            <!-- Article Ends -->
            <!-- Article Starts -->
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="latest-post">
                    <!-- Featured Image Starts -->
                    <a class="img-thumb" href="blog-post.html"><img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="img"></a>
                    <!-- Featured Image Ends -->
                    <!-- Article Content Starts -->
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="blog-post.html">Collaboration with Envato</a>
                        </h4>
                        <div class="post-text">
                            <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                        </div>
                    </div>
                    <!-- Post Date Starts -->
                    <div class="post-date">
                        <span>23</span>
                        <span>JUN</span>
                    </div>
                    <!-- Post Date Ends -->
                    <a class="custom-button" href="blog-post.html">Read more</a>
                    <!-- Article Content Ends -->
                </div>
            </div>
            <!-- Article Ends -->
            <!-- Article Starts -->
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="latest-post">
                    <!-- Featured Image Starts -->
                    <a class="img-thumb" href="blog-post.html"><img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="img"></a>
                    <!-- Featured Image Ends -->
                    <!-- Article Content Starts -->
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="blog-post.html">why themeforest is best ?</a>
                        </h4>
                        <div class="post-text">
                            <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                        </div>
                    </div>
                    <!-- Post Date Starts -->
                    <div class="post-date">
                        <span>01</span>
                        <span>JAN</span>
                    </div>
                    <!-- Post Date Ends -->
                    <a class="custom-button" href="blog-post.html">Read more</a>
                    <!-- Article Content Ends -->
                </div>
            </div>
            <!-- Article Ends -->
            <!-- Article Starts -->
            <div class="col-sm-4 col-md-4 col-xs-12 mt-46">
                <div class="latest-post">
                    <!-- Featured Image Starts -->
                    <a class="img-thumb" href="blog-post.html"><img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="img"></a>
                    <!-- Featured Image Ends -->
                    <!-- Article Content Starts -->
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="blog-post.html">why themeforest is best ?</a>
                        </h4>
                        <div class="post-text">
                            <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                        </div>
                    </div>
                    <!-- Post Date Starts -->
                    <div class="post-date">
                        <span>01</span>
                        <span>JAN</span>
                    </div>
                    <!-- Post Date Ends -->
                    <a class="custom-button" href="blog-post.html">Read more</a>
                    <!-- Article Content Ends -->
                </div>
            </div>
            <!-- Article Ends -->
            <!-- Article Starts -->
            <div class="col-sm-4 col-md-4 col-xs-12 mt-46">
                <div class="latest-post">
                    <!-- Featured Image Starts -->
                    <a class="img-thumb" href="blog-post.html"><img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="img"></a>
                    <!-- Featured Image Ends -->
                    <!-- Article Content Starts -->
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="blog-post.html">why themeforest is best ?</a>
                        </h4>
                        <div class="post-text">
                            <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                        </div>
                    </div>
                    <!-- Post Date Starts -->
                    <div class="post-date">
                        <span>01</span>
                        <span>JAN</span>
                    </div>
                    <!-- Post Date Ends -->
                    <a class="custom-button" href="blog-post.html">Read more</a>
                    <!-- Article Content Ends -->
                </div>
            </div>
            <!-- Article Ends -->
            <!-- Article Starts -->
            <div class="col-sm-4 col-md-4 col-xs-12 mt-46">
                <div class="latest-post">
                    <!-- Featured Image Starts -->
                    <a class="img-thumb" href="blog-post.html"><img class="img-responsive" src="./img/backgrounds/bk/blog_post.jpg" alt="img"></a>
                    <!-- Featured Image Ends -->
                    <!-- Article Content Starts -->
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="blog-post.html">why themeforest is best ?</a>
                        </h4>
                        <div class="post-text">
                            <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                        </div>
                    </div>
                    <!-- Post Date Starts -->
                    <div class="post-date">
                        <span>01</span>
                        <span>JAN</span>
                    </div>
                    <!-- Post Date Ends -->
                    <a class="custom-button" href="blog-post.html">Read more</a>
                    <!-- Article Content Ends -->
                </div>
            </div>
            <!-- Article Ends -->
        </div>
        <!-- Latest Blog Posts Ends -->
    </div>
</section>
<!-- Blog Section Ends -->
<!-- Contact Form Section Starts -->
<section class="contactform">
  <div class="section-overlay">
    <div class="container">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1><span>Send Us</span> an email</h1>
        <h4>We are very responsive to messages</h4>
      </div>
      <!-- Main Heading Ends -->
      <div class="form-container">
        <!-- Contact Form Starts -->
        <form class="formcontact" method="post" action="php/process-form.php">
          <div class="row form-inputs">
            <!-- First Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="First Name" class="input-field custom-input-field" id="firstname" name="firstname"
                  type="text" required data-error="NEW ERROR MESSAGE">
                <label class="input-label custom-input-label">
                  <i class="fa fa-user icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- First Name Field Ends -->
            <!-- Last Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="Last Name" class="input-field custom-input-field" id="lastname" name="lastname"
                  type="text" required>
                <label class="input-label custom-input-label">
                  <i class="fa fa-user-o icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- Last Name Field Ends -->
            <!-- Message Field Starts -->
            <div class="form-group custom-form-group col-sm-12">
              <textarea placeholder="Message" id="message" name="message" cols="45" rows="7" required></textarea>
            </div>
            <!-- Message Field Ends -->
            <!-- Email Name Field Starts -->
            <div class="col-sm-6 form-group custom-form-group">
              <span class="input custom-input">
                <input placeholder="Email" class="input-field custom-input-field" id="email" name="email" type="text"
                  required>
                <label class="input-label custom-input-label">
                  <i class="fa fa-envelope icon icon-field"></i>
                </label>
              </span>
            </div>
            <!-- Email Name Field Ends -->
            <!-- Submit Button Starts -->
            <div class="col-sm-6 submit-form">
              <button id="form-submit" name="submit" type="submit" class="custom-button" title="Send">Send
                Message</button>
            </div>
            <!-- Submit Button Ends -->
            <!-- Form Submit Message Starts -->
            <div class="col-sm-12 text-center output_message_holder">
              <p class="output_message"></p>
            </div>
            <!-- Form Submit Message Ends -->
          </div>
        </form>
        <!-- Contact Form Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section Ends -->
<!-- Logos Section Starts -->
<section class="logos">
  <div class="container">
    <ul class="bxslider" id="bxslider">
      <!-- Logos Items Starts -->
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_1.jpg" alt="3docean"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_2.jpg" alt="activeden"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_3.jpg" alt="audiojungle"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_4.jpg" alt="codecanyon"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_5.jpg" alt="graphicriver"></li>
      <li><img class="logos-img-slider" src="./img/projects/pic/brand_logo_6.jpg" alt="photodune"></li>
      <!-- Logos Items Ends -->
    </ul>
  </div>
</section>
<!-- Logos Section Ends -->
{% endblock %}