{% set title = 'services' %}
{% extends '_layout.html' %}

{% block content %}
<!-- Banner Starts -->
<section class="banner">
  <div class="content text-center">
    <div class="text-center top-text">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1>services</h1>
      </div>
      <!-- Main Heading Ends -->
      <hr>
      <!-- Breadcrumb Starts -->
      <ul class="breadcrumb">
        <li><a href="index-kenburns.html"> home</a></li>
        <li>services</li>
      </ul>
      <!-- Breadcrumb Ends -->
    </div>
  </div>
</section>
<!-- Banner Ends -->
<!-- Section Services Starts -->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>FEES AND DEPOSITS</h3>
        <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt moll</p>
        <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt moll</p>
      </div>
    </div>
    <!-- Divider Starts -->
    <div class="divider text-center">
      <span class="outer-line"></span>
      <span class="fa fa-cogs" aria-hidden="true"></span>
      <span class="outer-line"></span>
    </div>
    <!-- Divider Ends -->
    <!-- Services Starts -->
    <div class="row services-box">
      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-leaf" data-headline="Software Engineering"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-leaf">
          <h2>Software Engineering</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
          <a href="#">Learn More</a>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-anchor" data-headline="Researching and Reverseengineering"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-anchor">
          <h2>Researching and Reverseengineering</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
          <a href="#">Learn More</a>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-comments-o" data-headline="Cyber Security Services"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-comments-o">
          <h2>Cyber Security Services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
          <a href="#">Learn More</a>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-support" data-headline="QA & Testing"></span>
        <!-- Service Item Cover Ends -->
        <div class="services-box-item-content fa fa-support">
          <h2>QA & Testing</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-cogs" data-headline="DevSecOps"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-cogs">
          <h2>DevSecOps</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
          <a href="#">Learn More</a>
        </div>
        <!-- Service Item Content Ends -->
      </div>
      <!-- Service Item Ends -->

      <!-- Service Item Starts -->
      <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
        <!-- Service Item Cover Starts -->
        <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Maintenance & support"></span>
        <!-- Service Item Cover Ends -->
        <!-- Service Item Content Starts -->
        <div class="services-box-item-content fa fa-file-pdf-o">
          <h2>Maintenance & support</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
          <a href="#">Learn More</a>
        </div>
        <!-- Service Item Content Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Section Services Ends -->
<!-- Blog Section Starts -->
<section class="blog">
  <!-- Container Starts -->
  <div class="container">
    <!-- Main Heading Starts -->
    <div class="text-center top-text">
      <h1><span>Blog</span> Posts</h1>
      <h4>Latest Articles</h4>
    </div>
    <!-- Main Heading Starts -->
    <!-- Divider Starts -->
    <div class="divider text-center">
      <span class="outer-line"></span>
      <span class="fa fa-comments" aria-hidden="true"></span>
      <span class="outer-line"></span>
    </div>
    <!-- Divider Ends -->
    <div class="row latest-posts-content">
      <!-- Article Starts -->
      <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="latest-post">
          <!-- Featured Image Starts -->
          <a class="img-thumb" href="blog-post.html"><img class="img-responsive"
              src="http://via.placeholder.com/720x477" alt="img"></a>
          <!-- Featured Image Ends -->
          <!-- Article Content Starts -->
          <div class="post-body">
            <h4 class="post-title">
              <a href="blog-post.html">HOW TO BREATH?</a>
            </h4>
            <div class="post-text">
              <p>Lorem ipsum do lor sit amet, conse ctetur adipi sicing
                elit, sed do eiu smod tempor incididunt.</p>
            </div>
          </div>
          <!-- Post Date Starts -->
          <div class="post-date">
            <span>Date</span>
            <span>...</span>
          </div>
          <!-- Post Date Ends -->
          <a class="custom-button" href="blog-post.html">Read more</a>
          <!-- Article Content Ends -->
        </div>
      </div>
      <!-- Article Ends -->
      <!-- Article Starts -->
      <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="latest-post">
          <!-- Featured Image Starts -->
          <a class="img-thumb" href="blog-post.html"><img class="img-responsive"
              src="http://via.placeholder.com/720x477" alt="img"></a>
          <!-- Featured Image Ends -->
          <!-- Article Content Starts -->
          <div class="post-body">
            <h4 class="post-title">
              <a href="blog-post.html">ARRHYTHMIA IS NOT THE WAY OUT</a>
            </h4>
            <div class="post-text">
              <p>Lorem ipsum do lor sit amet, conse ctetur adipi sicing
                elit, sed do eiu smod tempor incididunt.</p>
            </div>
          </div>
          <!-- Post Date Starts -->
          <div class="post-date">
            <span>18</span>
            <span>JUN</span>
          </div>
          <!-- Post Date Ends -->
          <a class="custom-button" href="blog-post.html">Read more</a>
          <!-- Article Content Ends -->
        </div>
      </div>
      <!-- Article Ends -->
      <!-- Article Starts -->
      <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="latest-post">
          <!-- Featured Image Starts -->
          <a class="img-thumb" href="blog-post.html"><img class="img-responsive"
              src="http://via.placeholder.com/720x477" alt="img"></a>
          <!-- Featured Image Ends -->
          <!-- Article Content Starts -->
          <div class="post-body">
            <h4 class="post-title">
              <a href="blog-post.html">WHY CATGIRLS IS BEST?</a>
            </h4>
            <div class="post-text">
              <p>Lorem ipsum do lor sit amet, conse ctetur adipi sicing
                elit, sed do eiu smod tempor incididunt.</p>
            </div>
          </div>
          <!-- Post Date Starts -->
          <div class="post-date">
            <span>Date</span>
            <span>...</span>
          </div>
          <!-- Post Date Ends -->
          <a class="custom-button" href="blog-post.html">Read more</a>
          <!-- Article Content Ends -->
        </div>
      </div>
      <!-- Article Ends -->
    </div>
    <!-- Latest Blog Posts Ends -->
  </div>
</section>
<!-- Blog Section Ends -->
{% endblock %}