{% set title = 'some_position_1' %}
{% extends '_layout.html' %}

{% block content %}
<!-- Banner Starts -->
<section class="banner careers">
  <div class="content text-center">
    <div class="text-center top-text">
      <!-- Main Heading Starts -->
      <div class="text-center top-text">
        <h1>Senior FrontEnd (React) Developer</h1>
      </div>
      <!-- Main Heading Ends -->
      <!-- <hr> -->
      <!-- Breadcrumb Starts -->
      <ul class="breadcrumb">
        <li>KYIV, UA</li>
      </ul>
      <!-- Breadcrumb Ends -->
    </div>
  </div>
</section>
<!-- Banner Ends -->

<!-- Find-here Section Starts -->
<section class="portfolio resume">
  <!-- Container Starts -->
  <div class="container">
    <div class="address">
      <div class="address__title">
        <h3>Location</h3>
        <h3>Office Address</h3>
      </div>
      <p class="address-content"><span>Kyiv</span><span> 01008, м.Київ, вул. Грушевського, 5. </span></p>
    </div>
    <div class="progect">
      <h3 class="progect__title">Project Description</h3>
      <p class="progect__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quae autem
        exercitationem beatae, numquam dolor. Possimus cum laborum aliquid omnis quam dolore accusamus illo ut. Nisi
        minima voluptate animi cumque doloribus perferendis asperiores ab ex blanditiis officia fuga earum ducimus sequi
        possimus enim, ullam consequatur laboriosam nostrum! Aliquam totam quia sed praesentium quae ipsa tenetur
        doloribus, et delectus explicabo atque iste alias, laudantium ducimus odit enim recusandae illo. Eveniet enim
        possimus reprehenderit. Sit deserunt, facere at et nihil placeat. Nulla recusandae porro iste fuga fugiat
        consectetur sunt quam doloribus reiciendis. Tempore enim sunt eveniet aspernatur, nulla accusantium possimus
        voluptas a.
      </p>
    </div>
    <div class="respons">
      <h3 class="respons__title">Responsibilities</h3>
      <p class="respons__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quae autem
        exercitationem beatae, numquam dolor. Possimus cum laborum aliquid omnis quam dolore accusamus illo ut. Nisi
        minima voluptate animi cumque doloribus perferendis asperiores ab ex blanditiis officia fuga earum ducimus sequi
        possimus enim, ullam consequatur laboriosam nostrum! Aliquam totam quia sed praesentium quae ipsa tenetur
        doloribus, et delectus explicabo atque iste alias, laudantium ducimus odit enim recusandae illo. Eveniet enim
        possimus reprehenderit.
      </p>
    </div>
    <div class="skills">
      <h3 class="skills__title">Skills</h3>
      <p class="skills__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quae autem
        exercitationem beatae, numquam dolor. Possimus cum laborum aliquid omnis quam dolore accusamus illo ut. Nisi
        minima voluptate animi cumque doloribus perferendis asperiores ab ex blanditiis officia fuga earum ducimus sequi
        possimus enim, ullam consequatur laboriosam nostrum! Aliquam totam quia sed praesentium quae ipsa tenetur
        doloribus, et delectus explicabo atque iste alias, laudantium ducimus odit enim recusandae illo. Eveniet enim
        possimus reprehenderit. Sit deserunt, facere at et nihil placeat. Nulla recusandae porro iste fuga fugiat
        consectetur sunt quam doloribus reiciendis. Tempore enim sunt eveniet aspernatur, nulla accusantium possimus
        voluptas a.
      </p>
      <p class="skills__content"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quae autem
        exercitationem beatae, numquam dolor. Possimus cum laborum aliquid omnis quam dolore accusamus illo ut. Nisi
        minima voluptate animi cumque doloribus perferendis asperiores ab ex blanditiis officia fuga earum ducimus sequi
        possimus enim, ullam consequatur laboriosam nostrum! Aliquam totam quia sed praesentium quae ipsa tenetur.
      </p>

      <p class="skills__content"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quae autem
        exercitationem beatae, numquam dolor. Possimus cum laborum aliquid omnis quam dolore accusamus illo ut. Nisi
        minima voluptate animi cumque doloribus perferendis asperiores ab ex blanditiis officia fuga earum ducimus
        sequi.
      </p>

    </div>
    <div class="languages">
      <h3 class="languages__title">Languages</h3>
      <p class="languages__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque minus
        asperiores eum amet.
      </p>
    </div>
    <div class="resume-btn">
      <a class="button" href="apply_form.html">APPLY</a>
    </div>
  </div>
</section>
{% endblock %}