/* ======================== **
** ------- Slectors ------- **
/* ======================== */
$titles-selectors: '.h1', '.h2', '.h3', '.h4', '.h5', '.h6', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

/* ==================================== **
** ------- Colors / Backgrounds ------- **
/* ==================================== */
$colors: (
	base: 			$text-color,
	black: 			#000,
	linkColor: 	$link-color,
	white: 			#fff,
	gray:  			#666666,
	gray01:  		#797979,
	violet: 		#614477
);

$backgrounds: (
	theme: 			#b11e24,
	white: 			#fff,
	dark: 			#000,
	gray:	 			#F8F8F7,
	violet: 		#795484
);

$boxShadows: (
	grey: 			#0b0b0b,
	blue: 			#20252f
);

$gradients: (
	red: (
		start: 		#ff6a4d,
		stop: 		#ee4c7b
	)
);

/* ===================== **
** ------- Fonts ------- **
/* ===================== */
$font-sizes: (
	tiny: 			10px,
	smaller_: 	12px,
	small_: 		13px,
	small: 			14px,
	base: 			16px,
	medium: 		18px,
	mediumer: 	20px,
	large: 			22px,
	larger: 		24px,
	xlarge: 		26px,
	xlarger: 		28px,
	xxlarge: 		30px,
	xxlarger: 	32px,
	xxxlarge: 	36px,
	xxxlarger: 	60px,
	giant_: 		80px,
	giant: 			85px
);

$line-heights: (
	xsmall: 		.8em,
	smaller: 		1em,
	small: 			1.125em,
	small_: 		1.2em,
	base_: 			1.25em,
	base__: 		1.364em,
	base: 			1.375em,
	medium_: 		1.444em,
	medium: 		1.455em,
	mediumer_: 	1.5em,
	mediumer: 	1.667em,
);

$font-families: (
	'base': 'Trebuchet MS',
	'alt': 	''
);

$titles: (
	'h1': $font-size-h1,
	'h2': $font-size-h2,
	'h3': $font-size-h3,
	'h4': $font-size-h4,
	'h5': $font-size-h5,
	'h6': $font-size-h6
);

/* ========================= **
** ------- Box Model ------- **
/* ========================= */
$offsets: (
	none: 			0,
	smaller: 		5px,
	small: 			10px,
	default: 		15px,
	defaultt: 	17px,
	medium: 		20px,
	mediumer: 	25px,
	large: 			30px,
	larger: 		35px,
	xlarge: 		40px,
	xlarger: 		45px,
	xxlarge: 		50px,
	xxlarger: 	55px,
	mhuge: 			60px,
	mhuger: 		65px,
	huge: 			70px,
	huger: 			75px,
	xhuge: 			80px,
	xhuger:			85px,
	xxhuge: 		90px,
	xxhuger: 		95px,
	giant: 			100px,
	xgiant_: 		105px,
	giant_: 		110px,
	gianter: 		120px,
	gianters: 	125px,
	gianter_: 	130px,
	xgianter_: 	140px,
	xgiant: 		170px,
	emormous_: 	200px,
	emormous: 	220px,
	xemormous: 	335px
);

/* ==================================== **
** ------- Responsive Trasholds ------- **
/* ==================================== */
$responsive-trasholds: (
	xxs: (
		max: 										560px,
		minSectionOffset: 			20px,
		minSectionPartOffset: 	15px,
		minBoxOffset: 					15px,
		minBoxPartOffset: 			15px,
		minTitleSize: 					18px,
		minFontSize: 						14px,
		modifier: 							0.5
	),
	xs: (
		min: 										561px,
		max: 										$screen-xs-max,
		minSectionOffset: 			30px,
		minSectionPartOffset: 	15px,
		minBoxOffset: 					15px,
		minBoxPartOffset: 			15px,
		minTitleSize: 					20px,
		modifier: 							0.75
	),
	sm: (
		min: 								$screen-sm-min,
		max: 								$screen-sm-max,
		containerWidth: 		$container-sm
	),
	md: (
		min: 								$screen-md-min,
		max: 								$screen-md-max,
		containerWidth: 		$container-md
	),
	lg: (
		min: 								$screen-lg-min,
		containerWidth: 		$container-lg
	)
);

/* =========================== **
** ------- Transitions ------- **
/* =========================== */
$transition-duration: 	.4s;
$transition-easing: 		'ease';
$transition-delay: 			0s;

/* ====================== **
** ------- Navbar ------- **
/* ====================== */
$navbar-height: 						60px;
$navbar-link-gutter:				map-get($offsets, huge);
$navbar-link-gutter-xsmall:	map-get($offsets, huge);