.about{ 
  .about-content {
    .custom-button {
      border-radius: 2px;
    }
  }
}

.contactform textarea {
  border-radius: 2px;
}

.custom-input{
  border-radius: 2px;
}

.submit-form button {
  border-radius: 2px;
}