.content.col-xs-12.col-md-8{
  img.img-responsive{
    height: auto;
    width: 100%;
    max-width: 720px;
  }
  .custom-button {
    margin-left: 0;
    border-radius: 2px; 
  }
  .meta {
    margin: 20px 0 40px;
  }
}