.services {
  .services-box-item-content{
    a {
      // display: block;
      display: flex;
      position: relative;
      justify-content: flex-end;
      margin: 8px 0;
      font-size: 14px;
      // font-size: 16px;
      font-weight: 500;
      text-transform: Capitalize;
    }
    a:hover {
      color: #fff;
    }
  }
}

.latest-post{
  a.img-thumb{
    img.img-responsive{
      height: auto;
      width: 100%;
      max-width: 720px;
    }
  }
  .post-title{
  //  margin: auto;   
  }
  .custom-button {
    margin-left: 0;
  }
}
