.resume h3 {
  text-transform: capitalize;
}

.address__title {
  display: flex;
}

.address__title h3 {
  width: 300px;
}

.address-content {
  display: flex;
} 

.address-content span {
  width: 300px;
}

.progect {
  margin-top: 40px;
}

.progect .progect__content {
  width: 80%;
}

.respons .respons__content {
  margin-left: 30px;
  width: 70%;
}

.skills .skills__content{
  margin-left: 30px;
  width: 60%;
}

.languages .languages__content {
  margin-left: 30px;
  width: 250px;
}



.resume-btn button {
  width: 250px;
  margin-right: 40px;
  margin-top: 40px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  padding: 9px 0px;
  text-transform: uppercase;
  background-color: #72b626;
  border-radius: 2px;
  border: none;
}

.resume-btn button:hover {
  color: #72b626;
  font-weight: bold;
  background-color:#ffffff;
  box-shadow: 7px 5px 5px #000000;
  transition: all 0.3s ease-out;

}

