$trasholds: reverse-list($responsive-trasholds);

/* ============================ *
 * --------Font Weights-------- *
 * ============================ */
.fw-light{		font-weight: 300 !important;}
.fw-regular{	font-weight: 400 !important;}
.fw-semibold{	font-weight: 600 !important;}
.fw-bold{		font-weight: 700 !important;}
.fw-black{		font-weight: 800 !important;}

/* ============================ *
 * --------Font Families------- *
 * ============================ */
@each $key, $value in $font-families{
	.ff-#{$key}{
		font-family: $value !important;
	}
}

/* ============================ *
 * --------Font Sizes---------- *
 * ============================ */
.bigger{font-size: 1.143em;}
.biggger{font-size: 1.125em;}
.bigger_{font-size: 1.2em;}

.smaller{
	font-size: .762em;
	line-height: 1.3;
}

.mediuner{
	font-size: .8125em;
}

@each $key, $value in $font-sizes{
	.fz-#{$key}{
		font-size: $value !important;
	}
}

/* =========================== *
 * --------Line Heights------- *
 * =========================== */
@each $key, $value in $line-heights{
	.lh-#{$key}{
		line-height: $value !important;

		@for $i from 0 through 10{
			&.mlh-#{$i}{
				min-height: $i * $value;
			}

			&.malh-#{$i}{
				max-height: $i * $value;
				overflow: hidden;
			}

			&.flh-#{$i}{
				overflow: hidden;
				height: $i * $value;
			}
		}

		@each $tKey, $list in $trasholds{
			$max: map-get($list, 'max');

			@if $max {
				@media (max-width: $max){
					@for $i from 0 through 10{
						&.mlh-#{$tKey}-#{$i}{
							min-height: $i * $value;
						}
						
						@if $i != 0 {
							&.flh-#{$tKey}-#{$i}{
								overflow: hidden;
								height: $i * $value;
							}

							&.malh-#{$i}{
								max-height: $i * $value;
								overflow: hidden;
							}
						}
						@else {
							&.flh-#{$tKey}-#{$i}{
								height: auto;
								overflow: auto;
							}

							&.malh-#{$i}{
								max-height: none;
								overflow: auto;
							}
						}
					}
				}
			}
		}
	}
}

/* ========================== *
 * --------Font Colors------- *
 * ========================== */
@each $key, $value in $colors{
	.color-#{$key}{
		color: $value;
	}
}

.color-inherit{
	color: inherit !important;
}

@each $tKey, $list in $trasholds{
	$max: 				map-get($list, 'max');
	$min-font-size: 	map-get($list, 'minFontSize');
	$min-title-size: 	map-get($list, 'minTitleSize');
	$modifier: 			map-get($list, 'modifier');

	@if $max {
		@media (max-width: $max){
			@if $modifier{
				@if $min-font-size{
					@each $key, $value in $font-sizes{
						$font-size: $modifier * $value;

						@if $font-size < $min-font-size{
							$font-size: $min-font-size;
						}

						.fz-#{$key}{
							font-size: $font-size !important;
						}
					}
				}

				@if $min-title-size{
					@for $i from 1 through 6{
						$font-size: map-get($titles, 'h#{$i}');

						@if $font-size > $min-title-size{
							$new-font-size: $modifier * $font-size;

							@if $new-font-size < $min-title-size{
								$new-font-size: $min-title-size;
							}

							.h#{$i}, h#{$i}{
								font-size: $new-font-size;
							}
						}
					}
				}
			}
		}
	}
}